@model ProductMVC.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>
<hr/>
<h4>Product Id:@Model.Pid</h4>
<hr/>
<h4>Product Name:@Model.PName</h4>
<hr/>
<h4>Rate:@Model.Rate</h4>